
.drag-enter {
    background-color: #f9d1d1;
}

.drag-start {
    background-color: #f5f4f4;
}

.recycle-bin {
    height: 80px;
    width: 1000px;
    margin: auto;
    text-align: center;
    font-size: xx-large;
}

.lfa-container {
    margin-left: 20px;
}

.bk-grid {
    margin-top: 15px;
}

.sidebar {
    background-color: #f5f4f4;
    padding-right: 0;
    text-transform: capitalize;
    font-size: 1.1em;
}

.content {
    font-size: 2rem;
}

.content p {
    font-size: 1.5rem;
}

.trigger-btn {
    margin-left: 15px;
}

.lfa-form {
    display: none;
    margin-top: 10px;
}

.bk-item {
    width: 173px;
    height: 101px;
}

.lfa-list {
    /*margin-top: 20px;*/
}
