<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<div th:replace="modules :: head ('书签夹')"></div>

<body>

<div th:replace="modules :: navigation"></div>

<div class="container">
    <div class="row">
        <h1>工具箱</h1>
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            添加工具
        </button>
    </div>

    <form action="bin/add-bookmark" th:object="${searchCriteria}" method="post" class="inline">
        <div class="form-group">
            <input name="title" type="text" class="form-control" placeholder="标题">
            <input name="link" type="text" class="form-control" placeholder="网址">
            <input name="description" type="text" class="form-control" placeholder="简介">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <ul class="">
        <li th:each="bookmark : ${bookmarks}">
            <a th:text="${bookmark.title}" th:href="${bookmark.link}"></a>
            <p th:text="${bookmark.description}"></p>
        </li>
    </ul>

</div>


<div th:replace="modules :: js"></div>

</body>
</html>
