<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Know Nothing</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<!-- Spring Boot Thymeleaf -->

<ul class="nav nav-tabs">
    <li data-page-type="home-page" role="presentation" class="active"><a href="/">首页</a></li>
    <li data-page-type="tool-page" role="presentation"><a href="bookmark">工具箱</a></li>
    <li data-page-type="board-page" role="presentation"><a href="board">留言板</a></li>
</ul>

<div class="container">
    <h1>Know Nothing</h1>
</div>


<script src="/js/jquery.3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
