<!DOCTYPE html>
<html lang="zh-CN">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>工具箱</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>


<ul class="nav nav-tabs">
    <li data-page-type="home-page" role="presentation"><a href="/">首页</a></li>
    <li data-page-type="tool-page" role="presentation" class="active"><a href="tool">工具箱</a></li>
    <li data-page-type="board-page" role="presentation"><a href="#">留言板</a></li>
</ul>


<div class="container tool-page">
    <h1>工具箱</h1>
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        添加工具
    </button>
</div>


<script src="/js/jquery.3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
